@charset "UTF-8";

/*-------------------------------------------
General
-------------------------------------------*/
html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

h2 {
  font-size: 25px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70px;
  height: 1px;
  background-color: #a4a4a4;
  /* 下線の色 */
}

a {
  text-decoration: none;
}

#logo-link {
  width: 100px;
}

.animal {
  max-width: 100%;
}

#header-logo {
  max-width: 60%;
}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual img {
  max-width: 100%;
  height: auto;
  width: 100%;
  padding-bottom: 80px;
}

/*==================================================
subvisualスライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 100%;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

/*　背景画像設定　*/

.slider-item01 {
  background: url('/img/hiyoko.jpg');
}

.slider-item02 {
  background: url('/img/fla.jpg');
}

.slider-item03 {
  background: url('/img/cat.jpg');
}

.slider-item04 {
  background: url('/img/sakana.jpg');
}

.slider-item05 {
  background: url('/img/bird.jpg');
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 35vh;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #fff;
  /*矢印の色*/
  border-right: 2px solid #fff;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -20px 0 0 0;
  /*ドットの位置*/
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #fff;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}


/*-------------------------------------------
About
-------------------------------------------*/
.about-content {
  display: flex;
  margin-bottom: 10px;
  padding-top: 40px;
}

.text-container {
  text-align: left;
}

.text-container h3 {
  padding-bottom: 5px;
}

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}




/*-------------------------------------------
animal
-------------------------------------------*/
.animal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.animal-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.animal-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

/*-------------------------------------------
animal-card画像モーダルウインドウ
-------------------------------------------*/

/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
  display: none;

}

.modal {
  text-align: center
}

.modal-img img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  /* 画像がコンテナに収まるように調整 */
  padding-bottom: 30px;
  padding-top: 30px;
}


.modaal-container {
  width: 550px;
  height: 400px;
}

.modaal-content-container {
  height: 400px;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}




/*-------------------------------------------
contact
-------------------------------------------*/
.Form {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 150px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 180px;
  display: block;
  letter-spacing: 0.05em;
  background: rgb(0, 0, 0);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.Form-Btn:hover {
  opacity: 0.6;
}



@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}



/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*-------------------------------------------
page-topボタン
-------------------------------------------*/
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}



/*-------------------------------------------
Smart Phone
-------------------------------------------*/
@media screen and (max-width: 600px) {


  /*-------------------------------------------
  About
  -------------------------------------------*/
  .about-content {
    flex-direction: column;
  }

  .about-content img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /*-------------------------------------------
  animal
  -------------------------------------------*/
  .animal-grid {
    grid-template-columns: 1fr;
  }

}